.home {
    // border: 1px solid white;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

.home-content {
    // border: 1px solid white;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.main-top {
    // border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

    .main-top-left,
    .main-top-right {
        // border: 1px solid white;
        background-color: rgba($color: #FFFFFF, $alpha: 0.5);
        border-radius: 1rem;
        padding: 2rem;
    }

    .main-top-right {
        display: flex;
        justify-content: center;
        align-items: center;
        

        .misc-data {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 0.5rem;

            .box {
                height: 120px;
                width: 120px;
                // background-color: rgba($color: #407cff, $alpha: 0.6);
                // background: linear-gradient(to right, #8fb2ff 0%, #407cff 100%);
                background: linear-gradient(#8fb2ff 0%, #407cff 100%);
                padding: 0.8rem;
                border-radius: 1rem;
                color: rgba($color: #ffffff, $alpha: 0.8);
                transition: 200ms ease-in-out;

                &:hover {
                    background: linear-gradient( #407cff 0%, #407cff 100%);
                    transition: 200ms ease-in-out;
                }
            }
        }
    }
}

.misc {
    display: flex;
    gap: 0.2rem;

}

.weather-title {
    // border: 1px solid white;
    display: flex;
    height: 40%
}

.weather-icon {
    // border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    // margin-top: 1rem;
    height: 50%;

}

.main-middle {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    .hourly-forecast-container {
        // border: 1px solid white;
        background-color: rgba($color: #FFFFFF, $alpha: 0.5);
        border-radius: 1rem;
        padding: 2rem;
    }
}