.home {
    // padding: 5rem 5rem;
    // border: 1px solid #fff;
}

.home-content {
    border: 1px solid white;
    // display: grid;
    // grid-template-columns: repeat(10, minmax(0, 1fr));
    // grid-template-rows: repeat(8, minmax(0, 100px));
    // gap: 1rem;
    
}
