.navbar {
     display: flex;
     padding: 5rem 5rem;
    //  border: 1px solid #fff;
     justify-content: space-between;
     font-size: 1.8rem;
     letter-spacing: 0.15rem;
}

.brand {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    // font-weight: 500;
    // padding-bottom: 0.25rem;
    // transition: color 0.2s ease, border-color 0.2s ease;

    &:hover {
        color: #3b9b5b;
        // border-bottom: 2px solid #61FF96;
    }
}

.link.active {
    color: #61FF96;
    font-weight: 700;
    // border-bottom: 2px solid #61FF96;
}

.social-media-icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;

}

.social-icon {
    display: flex;
}

.social-media-icons a {
    color: #ffffff;
    transition: color 0.2s ease;
}

.social-media-icons a:hover {
    color: #61FF96;
}
