.top {
    color: black;
    padding: 2rem ;
    background-color: rgba($color: #FFFFFF, $alpha: 0.5);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

.current-date {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color:rgba($color: #000000, $alpha: 0.5)
}

.search-container {
    display: flex;
    gap: 0.5rem;
    // border: 1px solid white;
    

    .city-search, .search-button {
        padding: 1rem;
        border-radius: 1rem;
        border: none;
    }

    .city-search {
        width: 600px;
        background-color: rgba($color: #FFFFFF, $alpha: 0.7);
    }

    .search-button {
        background-color: rgba($color: #407cff, $alpha: 0.8);
        color: white;
        cursor: pointer;
        transition: 200ms ease-in-out;

        &:hover {
            background-color: rgba($color: #0036aa, $alpha: 1);
            transition: 200ms ease-in-out;
        }
    }
}